body {
    font-family: 'Raleway', sans-serif;
}

.sidebar {
    background-color: #fff;
    padding: 0px !important;
    box-shadow: 2px 2px 5px #262a35;
    height: 100%;
    position: fixed;
}

.logo {
    min-height: 200px;
    color: #50e6df;
}

    .logo > img {
        margin-top: 30px;
        padding: 1px;
        border: 3px solid #50e6df;
        border-radius: 100%;
        background-color: black;
    }

.list {
    color: #eee;
    list-style: none;
    padding-left: 0px;
}

li:nth-child(odd) {
    background-color: #13171d;
}

.list > li {
    padding: 15px 0px 15px 40px;
    font-size: 16px;
    font-weight: lighter;
}

    .list > li:hover {
        color: white;
        box-shadow: 1px 1px 10px 1px #50e6df inset;
        transition: padding-left 0.2s linear;
        padding-left: 50px;
    }


.navbar-inner {
    /*height: 90px*/
    min-height: 60px
}

.navbar .brand {
    padding: 0 10px;
}

.navbar .nav > li > a {
    padding: 20px 15px;
    /*padding: 35px 15px;*/
}

.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top: 15px;
}

.brand img {
    margin-top: 5px
}

@media (max-width:768px) {
    .brand img {
        margin-bottom: 5px
    }

    .navbar .btn-navbar {
        /*margin-right: -15px;*/
    }

    .navbar .nav > li > a {
        padding: 10px 15px;
    }
}

p{
    margin-left: 200px;
}
